<!-- register.html (templates/registration/register.html) -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="d-flex align-items-center justify-content-center h-100 bg-success text-white">
                                <div class="text-center">
                                    <i class="fas fa-user-plus fa-5x mb-4"></i>
                                    <h2>Rejoignez-nous</h2>
                                    <p class="lead">Créez votre compte pour commencer votre parcours</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Créer un compte</h1>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-success btn-user btn-block w-100 mb-3">
                                        Créer le compte
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'login' %}">Déjà un compte ? Se connecter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}